body {
    margin: 0;
    padding: 0;
    background-color: #181619;
    color: white;
    font-family: Manrope;
}

/*Header & Nav*/
header {
    margin: 0;
    width: 100%;
    background-color: #181619;
    color: white;
    font-size: 20px;
}

/*To prevent header text to disappear*/
header::after {
    content: ' ';
    display: table;
    clear: both;
}

/*ID for Header Logo Img*/
#headerlogo {
    float: left;

    margin-left: 30px;
    width: 275px;

    padding: 20px;
}

/*All nav content*/

.menu {
    font-weight: 300;
    margin-right: 80px;

    display: flex;
    flex-direction: row;
}

nav ul {
    background-color: #181619;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

nav li {
    position: relative;
    display: inline-block;
    padding: 23px;
}

nav ul li a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #ED392C;
}

nav ul ul {
    position: absolute;
    display: none;
    top: clamp(105px, 20%, 110px);
    left: 0;
}

.submenu {

    position: absolute;
    display: none;
    top: clamp(105px, 20%, 110px);
    left: 0;
    white-space: nowrap;
}

nav ul li:hover>ul,
nav ul li:active>ul {
    display: block;
    z-index: 999;
}

nav ul ul li {
    width: 180px;
    float: none;
    display: list-item;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

.hamburger {
    display: none;
    font-size: 50px;
    user-select: none;
}

input[type=checkbox] {
    display: none;
}

@media (max-width: 1250px) {
    header {
        position: relative;
        padding: 1.5em 2em;
    }

    #headerlogo {
        margin-left: -5px;
    }

    .menu {
        text-align: center;
        flex-flow: column;
        position: absolute;
        top: 7em;
        left: 0;
        right: 0;
        z-index: 2;
    }

    nav ul li:hover {
        background-color: #181619;
    }

    nav ul a:hover {
        color: #ED392C;
    }

    .menu>li>a {
        font-size: 1.5rem;
    }

    .submenu>li>a {
        font-size: 1.5rem;
    }

    .submenu li {
        width: 100%;
        text-align: center;
    }

    .submenu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;

    }

    input[type=checkbox]:checked~.menu {
        display: none;
        margin-bottom: -50px;
        padding: 0;
    }

    .hamburger {
        position: absolute;
        display: block;
        right: 15%;
        top: 30%;
    }
}

/* PhotoBanner */
.hero-image {
    position: relative;
    background-image: url("../IMG/Contact Us/ContactHero.png");

    box-sizing: border-box;
    box-shadow: inset 0px -75px 50px 2px #181619;

    height: 75vh;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: center;
}

.hero-content {
    position: absolute;

    width: 658.32px;

    left: 7%;
    top: 27%;

    text-shadow: 0px 1.19405px 2.0896px rgba(0, 0, 0, 0.25);
}

#banner-title {
    font-size: 4.3em;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 10px;
}

#banner-subtitle {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
}

/* Main Content */
.divContent {
    margin: 40px 0 200px 0;
}

.title-Creator {
    color: #ED392C;

    font-size: 4.3em;
    font-weight: 800px;
    letter-spacing: -0.03em;

    padding: 0;
    margin: 0;
}

.subtitle-Creator {
    font-size: 2.7em;
    font-weight: 300;
    letter-spacing: 0.01em;

    padding: 0;
    margin: 0;
}

/* Contact Lists*/
.title-contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
}

.contact-lists {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-left: -20px;
}

.contact-lists2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 390px);
    justify-content: center;
}


.contacts {
    width: 300px;
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}

.contact-lists2 .card .contacts {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}

.contact-lists2 .card .contacts2 {
    position: absolute;
    top: 0;
    left: 0;
    background: #ED392C;
    padding: 30px;
    width: 300px;

}

.contact-lists2 .card .contacts2 ul {
    list-style: none;
}

.contact-lists2 .card .slide {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 220px;
    transition: 0.5s;
}

.contact-lists2 .card .slide.slide1 {
    position: relative;
    z-index: 1;
    transition: .7s;
    /* transform: translateY(50%); */
}

.contact-lists2 .card:hover .slide.slide1 {
    transform: translateY(0px);
}

.contact-lists2 .card .slide.slide2 {
    position: relative;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-100%);
}

.contact-lists2 .card:hover .slide.slide2 {
    transform: translateY(0);
}

.contact-lists2 .card .slide.slide2 .contacts2 a {
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    color: white;
}

.contact-lists2 .card .slide.slide2 .contacts2 a:hover {
    font-size: 25px;
    color: #181619;
}

a {
    text-decoration: none;
}

.socmedLogo {
    width: 65px;
}

.socmed {
    margin: 0;
    padding: 0;
    color: #ED392C;

    font-size: 50px;
    font-weight: 800;
    letter-spacing: -0.03em;
}

.contact-det {
    margin: 0;
    color: #222222;

    font-size: 29px;
    text-decoration: underline;
    letter-spacing: 0.01em;
}

/*footer logo size and display*/
#footerlogo {
    float: left;
    width: 346.75px;
    height: 82px;
    margin-left: 50px;
    padding: 10px 42px;
}

#social-Media-Logo {
    padding: 80px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

/*footer white div*/
#divFooterTop {
    clear: both;
    background-color: white;
    color: #181619;
    width: 100%;
    height: 141.16px;
    ;

    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*footer black div*/
#divFooterBottom {
    display: block;

    margin: 0 0 30px 100px;
    height: 50px;
}

footer h2 {
    font-size: 23.78px;
    margin-bottom: 0;
}

footer p {
    font-size: 17.56px;
    margin-top: 0;
}



@media (max-width:1120px) {
    .contact-lists2 {
        display: grid;
        grid-template-columns: repeat(2, 390px);
        grid-template-rows: repeat(2, 1fr);
    }

    .card {
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    .hero-content {
        width: 90%;
        text-align: center;
    }

    .contact-lists2 {
        display: grid;
        grid-template-columns: 390px;
        grid-template-rows: repeat(3, 1fr);
    }

    .card {
        margin-bottom: 30px;
    }

    /*footer logo size and display*/
    #footerlogo {
        margin-left: 0;
    }

    #social-Media-Logo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1px;

        padding: 80px 5% 80px 0;
        margin: 0;
    }

    /*footer black div*/
    #divFooterBottom {
        margin: 0 50px;
    }

    footer h2 {
        font-size: 23.78px;
        margin-bottom: 0;
    }

    footer p {
        margin-top: 0;
    }

}