
body{
    margin: 0;
    padding: 0;
    background-color: #181619;
    color: white;
    font-family: Manrope;
}

/*Header & Nav*/
header{
    margin: 0;
    width: 100%;
    background-color: #181619;
    color: white;
    font-size: 23px;
}

/*To prevent header text to disappear*/
header::after{
    content: ' ';
    display: table;
    clear: both;
}

/*ID for Header Logo Img*/
#headerlogo{
    float: left;
    width: 300px;
    padding: 25px 0 0 50px;
}

/*All nav content*/
nav{
    font-weight: 400;
    margin-right: 50px;
    
}

nav ul{
    background-color: #181619;
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

nav li{
    position: relative;
    display: inline-block;
    padding: 25px;
}

nav ul li a{
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
}

nav ul li:hover{
    background-color: #ED392C;
}

nav ul ul{
    position: absolute;
    display: none;
    top: 110px;
    left: 0;
}

nav ul li:hover > ul{
    display: block;
    z-index: 999;
}

nav ul ul li{
    width: 180px;
    float: none;
    display: list-item;
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

#photobanner{
    position: relative;
    background-image: url("../IMG/test2.png");
    padding: 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

#photobanner::after{
    content: ' ';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #181619 1%, rgba(23,21,21,0) 50%);
    z-index: 1;
}

#title-Photobanner{
   font-size: 5em;
   line-height: 1em;
   font-weight: 800;
   margin: 0;
}

#subtitle-Photobanner{
    font-size: 3em;
    margin-top: 1%;
    font-weight: 300;
}


.divContent{
    display: block;
    margin: 50px 10% 80px 10%; 
}

.title-Creator{

    color: #ED392C;
    font-size: 5em; 
    padding: 0;
    margin: 0; 
}

.subtitle-Creator{
    font-size: 3em;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

.contacts{
    width: 300px;
    length: auto;
    display: inline-block;
    background-color: white;
    padding: 30px;
    margin: 30px 30px 0 0;
}

.socmedLogo{
    width: 65px;
}
.socmed{
    margin: 0;
    padding: 0;
    color: #ED392C;
    font-size: 50px;
    font-weight: 800;
}

.contact-det{
    margin: 0;
    color: #222222;
    font-size: 29px;
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
}

/*footer logo size and display*/
#footerlogo{
    float: left;
    width: 420px;
    margin-left: 50px;
    padding: 42px;
}

#social-Media-Logo{
    display: flex;
    justify-content: flex-end;
    padding: 40px 100px 40px 40px;
}

div div img{
    margin-right: 30px;
}

/*footer white div*/
#divFooterTop{
    clear: both;
    background-color: white;
    color: #181619;
    width: 100%;
}

/*footer black div*/
#divFooterBottom{
    margin-left: 100px;
}

footer h2{
    font-size: 40px;
    margin-bottom: 0;
}

footer p{
    margin-top: 0;
}